// $column-gap: 20px;
@import '../node_modules/bulma/bulma.sass';


$pleasent-background: #f5f6fa;
$pleasent-border: #e5e9f2;

$column-padding: .75rem;

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  /*
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  */

  background-color: $pleasent-background;
}

h1, h2, h3, h4, h5 {
  line-height: 1.1;
}

h1 {
  font-size: 36px;
}

h1 small {
  font-size: 80%;
  opacity: 0.4;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

hr {
  height: 4px;
  margin: 1.25rem -0.75rem;
}

.App-intro {
  font-size: large;
}


.i-app {
  margin: 0 auto;
  max-width: 2000px;
}

// dirty hack :-)
// doesnt work on mobile :-(
.column.i-bordered {
  + .column.i-bordered.is-two-fifths {
    // margin-left: 1%;
    // width: 39%;
  }
}

.column {
  > .i-bordered {
    margin-top: (-1 * $column-padding);

    + .i-bordered {
      margin-top: 20px;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.i-bordered {
  animation: fadein 0.5s;
  background-color: white;
  border: 1px solid $pleasent-border;
  border-radius: 5px;
  padding: $column-padding;
  height: 100%;

  > h2 {
    border-bottom: 1px solid $pleasent-border;
    font-size: 16px;
    margin: (-1 * $column-padding);
    margin-bottom: $column-padding;
    padding: $column-padding;
  }
}

.search-field {
  background-color: white;
  border: 1px solid $pleasent-border;
  border-radius: 5px;
  box-sizing: content-box;
  font-size: 15px;
  margin: 0 (-1 * $column-padding);
  padding: 14px $column-padding;
  transition: all .15s ease-in-out;
  width: 100%;

  &:focus,
  &:hover {
    background: mix($pleasent-background, #fff, 50%);
    transition: all .15s ease-in-out;
  }

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #ccc;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
      color: #ccc;
  }
}

table.procurement-table {
  tr {
    border-bottom: 1px solid #f3f3f3;

    td {
      padding: 3px 15px 3px 0;

      &:first-child {
        font-size: 90%;
        opacity: 0.6;
      }
    }
  }
}

.i-container{
  position: relative;
}