html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;
  padding: 30px 20px;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  /*
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  */
  background-color: #f5f6fa; }

h1, h2, h3, h4, h5 {
  line-height: 1.1; }

h1 {
  font-size: 36px; }

h1 small {
  font-size: 80%;
  opacity: 0.4; }

.App-intro {
  font-size: large; }

.i-app {
  margin: 0 auto;
  max-width: 2000px; }

.column > .i-bordered {
  margin-top: -0.75rem; }
  .column > .i-bordered + .i-bordered {
    margin-top: 20px; }

.i-bordered {
  background-color: white;
  border: 1px solid #e5e9f2;
  border-radius: 5px;
  padding: 0.75rem; }
  .i-bordered > h2 {
    border-bottom: 1px solid #e5e9f2;
    font-size: 16px;
    margin: -0.75rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem; }

.search-field {
  background-color: white;
  border: 1px solid #e5e9f2;
  border-radius: 5px;
  box-sizing: content-box;
  font-size: 15px;
  margin: 0 -0.75rem;
  padding: 14px 0.75rem;
  transition: all .15s ease-in-out;
  width: 100%; }
  .search-field:focus, .search-field:hover {
    background: #fafbfd;
    transition: all .15s ease-in-out; }
  .search-field::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1;
    /* Firefox */ }
  .search-field:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc; }
  .search-field::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc; }

table.procurement-table tr {
  border-bottom: 1px solid #f3f3f3; }
  table.procurement-table tr td {
    padding: 3px 15px 3px 0; }
    table.procurement-table tr td:first-child {
      font-size: 90%;
      opacity: 0.6; }
