@import '../../variables';

.i-map {
  svg {
    max-width: 100%;
    width: auto;

    &,
    * {
      outline: none;
    }
  }

  .rsm-geographies {
    transform: translate(-170%, -30%) scale(4);
  }
}

.i-map--list-country-container {
  min-height: 40px;;
}

.i-map--list-country {
  display: inline-block;
  margin-right: 8px;

  span {
    margin-right: 1px;
    opacity: 0.5;
  }
}
