.i-map svg {
  max-width: 100%;
  width: auto; }

.i-map--list-country-container {
  min-height: 40px; }

.i-map--list-country {
  display: inline-block;
  margin-right: 8px; }
  .i-map--list-country span {
    margin-right: 1px;
    opacity: 0.5; }
